My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        0
      ],
      "id": "6a122a2e-5cba-4c3b-831a-afa2730ec5d7",
      "name": "Telegram Trigger",
      "webhookId": "831a13e4-6d49-4a5e-ac2f-bcb4029449ff",
      "credentials": {
        "telegramApi": {
          "id": "2lF9fUMnIw14VK7p",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Hello I am Jarvis"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "0658c1b9-fd6b-47ff-9e66-be2d5146c098",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "c4c5ad37-3797-4101-bae6-66cd4ceb58fd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ffHJvyUFN0xygeVz",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "910cc459-8f78-4e86-a600-92bcf7a62246",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hz7OMh0juDJyh5W0kpgotLbczMR0aLltQ0C0CwJPYjI",
          "mode": "list",
          "cachedResultName": "Expense Tracker Bot September",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hz7OMh0juDJyh5W0kpgotLbczMR0aLltQ0C0CwJPYjI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 358768780,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hz7OMh0juDJyh5W0kpgotLbczMR0aLltQ0C0CwJPYjI/edit#gid=358768780"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User": "={{ $json.message.chat.first_name }}",
            "Particulars": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Particulars', ``, 'string') }}",
            "Price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price', ``, 'string') }}",
            "Date": "={{ $now.format('dd-MM-yyyy') }}",
            "Time": "={{ $now.format('h-m') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Particulars",
              "displayName": "Particulars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        496,
        128
      ],
      "id": "a09b00c0-f5bd-4dbd-9bff-003191de22ef",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5Rra5P9BTTPA5uo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "reply_to_message_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        34.39396446943283
      ],
      "id": "344a1a93-2bd9-472b-b922-ae64fcb298c4",
      "name": "Send a text message",
      "webhookId": "d60d49df-5f78-42d1-9f6b-8d64099fda9a",
      "credentials": {
        "telegramApi": {
          "id": "2lF9fUMnIw14VK7p",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hz7OMh0juDJyh5W0kpgotLbczMR0aLltQ0C0CwJPYjI",
          "mode": "list",
          "cachedResultName": "Expense Tracker Bot September",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hz7OMh0juDJyh5W0kpgotLbczMR0aLltQ0C0CwJPYjI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 358768780,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hz7OMh0juDJyh5W0kpgotLbczMR0aLltQ0C0CwJPYjI/edit#gid=358768780"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "2b13ec23-402f-4010-82f8-cf67fa0d4ff4",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5Rra5P9BTTPA5uo",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a01bd381-6c51-444b-81d5-b43e21c8149f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21ea06756fe09b1a22c06a17d62643309576e5d9b5573e2ecbaf8be2f3b1cc57"
  },
  "id": "VgjuibzUOVL6TAF3",
  "tags": []
}